/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select {
    padding: 20px;
    background-color: palegoldenrod;
    border: none;
    font-size: 15px;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
} */
